<!DOCTYPE html>
<html>
<head>
    <title>Upcoming Race</title>
</head>
<body>
    <h1>Upcoming Race</h1>
    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Country</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for race in upcoming_races %}
                <tr>
                    <td>{{ race.city }}</td>
                    <td>{{ race.country }}</td>
                    <td>{{ race.date }}</td>
                    <td>{{ race.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>