{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'login.css' %}"/>
{% endblock %}


{% block content %}


<article>
    <h1>Password change</h1>
    <section class="container">

        <h3>to your member account</h3>
        <p></p>

        <div>

            <form method="POST" class="form-shadow">

                {% csrf_token %}

                {{ form.as_p }}

                <p></p>

                <button type="submit" class="button">CONFIRM</button>

            </form>
        </div>

    </section>

</article>
<article>
    <br>
</article>

{% endblock %}

{% block footer %}{% endblock %}