@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.page-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    bottom: 20px;
    position: sticky;
    padding: 0px;
    background-color: white;
    border-bottom: 2px solid rgb(150, 150, 150);
}

.page-header-container {
    text-align: center;
}

.nav-bar {
display: flex;
justify-content: center;
align-items: center;
    gap: 5px;
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-bottom: 40px;
    cursor: pointer;
}

.menu {
float: right;
margin-top: 80px;
margin-right: 20px;
}

.nav-bar li {
    display: inline-block;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
    margin-inline: 25px;
    list-style: none;
    text-align: right;
    text-decoration:none;
}


.nav-bar li:hover {
    color: red;
    border-bottom: 2px solid red;
    margin-bottom: 3px;
}

#top-right-links {
    position: absolute;
    top: 10px;
    right: 20px;
    list-style: none;
    color: red;
}

#top-right-link {
    display: inline-block;
    margin-left: 10px;
    color: red;
    text-decoration: none;
}

@media screen and (max-width: 780px) {
    .page-header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 0;
        text-decoration: none;
    }
    .nav-bar {
    .page-header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 0;
        text-decoration: none;
    }
    .logo {
    width: 100px;
    margin-bottom: 20px;
}
    }
}

.section-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    gap: 15px;
    border-top: 3px solid rgb(150, 150, 150);
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    background-color: rgb(150, 150, 150);
    text-align: center;
}

.section-footer a {
    color: #fff;
    text-decoration: none;
    margin-inline: 25px;
    text-align: center;
}

@media screen and (min-width: 780px) {
    .section-footer a {
        background-color: rgb(150, 150, 150);
        color: white;
        padding: 0;
        text-decoration: underline;
    }
}