{% extends 'base.html' %}
{% load static %}

{% block title %}
THE F1NAL PROJECT
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
{% endblock %}

{% block content %}
    <div id="about-project">
        <img class="image" src="{% static 'images/about-project.png' %}" alt="image">
        <div id="content">
            <h1 style="text-align: center">ABOUT PROJECT</h1>
            <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ducimus illum sit. Laborum perferendis officia vitae maiores consectetur! Ratione dolore iusto laboriosam repellendus perferendis! Culpa laudantium a eaque mollitia? Molestias.
                Eaque, facilis dolore sit eos quaerat delectus vitae nobis odit dolorem perferendis. Repellat esse optio cupiditate ratione est voluptate fugit, praesentium voluptatem amet repudiandae exercitationem quibusdam accusamus culpa quisquam nisi?
            </p>
        </div>
    </div>


<div id="about-us">
      <img id="image" src="{% static 'images/darekn.png' %}" alt="darek">
    <div id="content">
      <h2>Darek Nowosielski</h2>
      <h3>Subtitle 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ipsum id nibh tincidunt, vitae ultricies enim efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ipsum id nibh tincidunt, vitae ultricies enim efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ipsum id nibh tincidunt, vitae ultricies enim efficitur.</p>
    </div>
  </div>

  <div id="about-us">
      <img id="image-two" src="{% static 'images/aniaw2.png' %}" alt="ania">
    <div id="content">
      <h2>Ania Walaszek</h2>
      <h3>Subtitle 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ipsum id nibh tincidunt, vitae ultricies enim efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ipsum id nibh tincidunt, vitae ultricies enim efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ipsum id nibh tincidunt, vitae ultricies enim efficitur.</p>
    </div>
  </div>

  <div id="about-us">
      <img id="image" src="{% static 'images/maciekw.png' %}" alt="Image 3">
    <div id="content">
      <h2>Maciek Wesołowski</h2>
      <h3>Subtitle 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ipsum id nibh tincidunt, vitae ultricies enim efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ipsum id nibh tincidunt, vitae ultricies enim efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ipsum id nibh tincidunt, vitae ultricies enim efficitur.</p>
    </div>
  </div>
{% endblock %}



