{% extends 'base.html' %}
{% load static %}

{% block title %}
THE F1NAL PROJECT
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
{% endblock %}

{% block content %}
    <div id="about-project">
        <img class="image" src="{% static 'images/about-project.png' %}" alt="image">
        <div id="content">
            <h1 style="text-align: center">ABOUT PROJECT</h1>
            <p style="color: white">We would like to present you a Formula One website created in Django framework.
                You can find here multiple apps like F1 Statistics, Quiz, Events, Blogs and About Us page.
                You can also check what are the current weather conditions on the next circuit location.</p>
        </div>
    </div>

<div id="our-team">
    <h2>OUR TEAM</h2>
</div>

<div class="about-us">
      <img id="image" src="{% static 'images/darekn.png' %}" alt="darek">
    <div id="content">
      <h2>Darek Nowosielski</h2>
      <h3>DATA BASE SPECIALIST</h3>
      <p>Darek was responsible for creating the Stats app. He pulled the F1 data using API. He also helped to contribute to other apps in the project. In his free time he enjoys cycling and mountain-hiking.</p>
    </div>
  </div>

  <div class="about-us">
      <img id="image-two" src="{% static 'images/aniaw2.png' %}" alt="ania">
    <div id="content">
      <h2>Ania Walaszek</h2>
      <h3>BACKEND SPECIALIST</h3>
      <p>Ania was responsible for the backend side of the project. She created Login and Register app as well as backend side of the Blog app.</p>
    </div>
  </div>

  <div class="about-us">
      <img id="image" src="{% static 'images/maciekw.png' %}" alt="Image 3">
    <div id="content">
      <h2>Maciek Wesołowski</h2>
      <h3>FRONTEND SPECIALIST</h3>
      <p>Maciek was mainly responsible for the frontend side of the project. He also created Quiz and Events apps.</p>
    </div>
  </div>
<div id="sum-up">
    <h3>We hope you will enjoy our project. If you would like to cooperate with us, do not hesitate to contact us.</h3>
</div>
{% endblock %}



