#main-header {
    color: red;
    text-align: center;
    margin: 30px 0 30px 0;
}

#main-header h1 {
    color: red;
    font-size: 1.5rem;
}

article {
  max-width: 60rem;
  margin: 20px auto;
  border-radius: 6px;
  background-color: rgb(227, 227, 227);
  box-shadow: 1px 1px 22px rgba(0, 0, 0, 0.55);
  padding: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

#main-image {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  left: calc(50% - 5rem);
  border-radius: 50%;
  box-shadow: 1px 1px 22px rgba(0, 0, 0, 0.95);
}

section:first-of-type {
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
}

address span {
  font-weight: bold;
}

#details h2 {
  margin-bottom: 0.5rem;
}

#details > p {
  color: #540b0b;
  padding: 1rem;
  border-radius: 4px;
  max-width: 80%;
  margin: auto;
}

#details footer {
  color: #696472;
}

#details footer a {
  color: #350490;
  text-decoration: none;
  font-weight: bold;
}

#registration ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#registration label {
  font-weight: bold;
  color: #46424d;
  margin-right: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

#registration input {
  font: inherit;
  width: 40%;
  background-color: white;
  border: 1px solid #4b4753;
  box-shadow: 0 0 11px red;
  border-radius: 4px;
  padding: 0.25rem;
}

#registration-actions {
  margin-top: 1.5rem;
}

#registration .errorlist {
  margin-bottom: 0.5rem;
  color: #880824;
}

#baton[type="submit"] {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.597);
  font-size: large;
  background-color: #540b0b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}


#baton[type="submit"]:hover {
  background-color: #020082;
}