* {
    box-sizing: border-box;
}


#about-project {
box-sizing: border-box;
  align-content: center;
  align-items: center;
  max-width: 100%;
background-color: rgb(155, 0, 0, 0.7);
display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border: 3px solid red;
  padding: 20px;
}

#about-project h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgba(155, 155, 155);
}

#about-project h3 {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

#about-project p {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

#about-us {
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  max-width: 100%;
  background-color: rgba(155, 155, 155);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 3px solid red;
  padding: 20px;
}

#image {
  max-width: 50%;
}

#image-two {
  max-width: 50%;
}

#content {
  align-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}


#about-us h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: red;
}

#about-us h3 {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

#about-us p {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 780px) {
    .box-container {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media screen and (min-width: 1280px) {
    .box-container {
        flex-wrap: nowrap;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid rgb(80, 80, 80);
}
@media screen and (min-width: 780px) {
    .box {
        width: calc(50% - 10px);
    }
}
@media screen and (min-width: 1280px) {
    .box {
        flex: 1;
    }
}


