{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'login.css' %}" />
{% endblock %}

{% block content %}

<h1>Create post</h1>


<article>

    <section class="container">
        <form method="POST" enctype="multipart/form-data" class="form-shadow">

            {% csrf_token %}

            {{ form.title.label }}<br>
            {{ form.title }} <br>
            <p>Use max 150 signs</p>

            {{ form.excerpt.label }}<br>
            {{ form.excerpt }} <br>
            <p>Use max 250 signs</p>

            {{ form.txt.label }}<br>
            {{ form.txt }} <br>
            <p>Use between 200 and 3000 signs</p>

            {{ form.slug.label }}<br>
            {{ form.slug }} <br>
            <p>Use something similar to title</p>

            <button type="submit">CREATE POST</button>

        </form>
    </section>

    <div class="signup-section">
        <h3>Go to dashboard</h3>
        <p></p>
        <h2><a href="{% url 'member_dashboard' %}" class="signup-link" >dashboard</a></h2>
    </div>

</article>
<article>
<br>
</article>

{% endblock %}

{% block footer %}{% endblock %}