{% extends "base.html" %}
{% load static %}

{% block title %}
The F1 Blog
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %}
{% block content %}
<section id="latest-posts">
    <h2>Our Latest Posts</h2>
    <ul>
        {% for post in posts %}
        {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>What Do We do</h2>
    <p>We are passionate about the Queen of the Motorsport!</p>
    <p>Our goal is spread the F1 word around the world.</p>
</section>
{% endblock %}