{% extends "base.html" %}
{% load static %}

{% block title %}
The F1 Blog
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %}
{% block content %}

<div id="latest-posts">
    <h2>Our Latest Posts</h2>
    <ul>
        {% for post in posts %}
        {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</div>

<div id="about">
    <h2>All Posts</h2>
    <p>To see all our posts click on the button.</p>
    <a href="blog/all-posts.html" class="posts-button">READ MORE</a>
</div>
{% endblock %}