#about-quiz {
width: 100%;
background-color: rgb(150, 150, 150, 0.7);
color: white;
padding: 1rem;
}

#about-quiz h2 {
text-align: center;
color: red;
}

#list-quiz {
  max-width: 40rem;
  margin: 3rem auto;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quiz-item {
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0.25);
  border: 3px solid red;
  padding: 2rem;
  color: white;
  border-radius: 4px;
}

.quiz-summary {
  display: flex;
  align-items: flex-start;
}

.event-image {
  margin-right: 2rem;
}

.quiz-image img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  background-size: contain;
}

.quiz-details h3 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.quiz-details address {
  font-style: italic;
}

.quiz-actions {
  margin-top: 1.5rem;
  text-align: right;
}

.quiz-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-color: red;
  color: white;
  padding: 0.75rem 2rem;
  text-decoration: none;
}

.quiz-button:hover {
  background-color: rgb(155, 0, 0, 0.7);
  border-color: rgb(155, 0, 0, 0.7);
}