{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'login.css' %}" />
{% endblock %}


{% block content %}

<h1>Login</h1>

<article>

    <section class="container">

        <h3>to your member account</h3>
        <p></p>

        <div>

            <form method="POST" class="form-shadow">

                {% csrf_token %}

                {{ form.username.label}}  <br>
                    {{ form.username }} <br>

                {{ form.password.label }} <br>
                    {{ form.password }}

                <p></p>

                <button type="submit" class="button">LOGIN</button>

            </form>
        </div>

        <div class="signup-section">
            <div>
                <h3>Don't have an account?</h3>
                <p></p>
                <h2><a href="{% url 'sign_up' %}" class="signup-link">Create account</a></h2>
            </div>
        </div>

    </section>

</article>

{% endblock %}

{% block footer %}{% endblock %}