{% extends 'members/main/base.html' %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<h1>LOGIN<h1>

<div>
    <h2>LogIN to yours member account</h2>
        <form method="POST" >

            {% csrf_token %}

            {{ form|crispy }}          
            
            <p></p>

            <button type="submit">LOGIN</button>

        </form>
</div>

<div>

    <div>
        <h2>Dont have account? Create here</h2>
        <a href="{% url 'sign_up' %}"></a>
    </div> 

    
    
</div>

{% endblock %}