{% extends 'base.html' %}
{% load static %}

{% block title %}
F1 CONSTRUCTOR STANDINGS 2023
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'stats/constructor_standings.css' %}" />
{% endblock %}

{% block content %}
<section class="constructors">
<h1>Constructor Standings 2023 after {{ race_no }} races</h1>
    <a href="../constructor_standings_chart" class="chart-button">Change to Chart View</a>
<table>
    <thead>
        <tr>
            <th id="standings">Standings</th>
            <th id="constructor">Constructors</th>
            <th id="points">Points</th>
            <th id="wins">Wins</th>

        </tr>
    </thead>
    <tbody>
        {% for standing in standings|dictsortreversed:"points" %}
        <tr>
            <td id="standings">{{ forloop.counter }}</td>
            <td id="constructor">{{ standing.constructorid.name }}</td>
            <td id="points">{{ standing.points }}</td>
            <td id="wins">{{ standing.wins }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>
{% endblock %}