{% extends 'base.html' %}

{% load static %}

{% block title %}
    Constructor Standings Chart
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'stats/constructor_standings_chart.css' %}">
{% endblock %}

{% block content %}
<section class="chart-table">
    <h1>Constructor Standings 2023 after {{ race_no }} races</h1>
    <a href="../constructor_standings" class="chart-button">Change to Table View</a>
</section>
<div class="content">
    <canvas id="constructorStandingsChart"></canvas>
</div>
{% endblock %}

{% block scripts %}
    <script class="chart" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('constructorStandingsChart').getContext('2d');
        var constructorIds = {{ constructor_ids|safe }};
        var points = {{ points|safe }};

        var chartData = {
            labels: constructorIds,
            datasets: [{
                label: 'Points',
                data: points,
                backgroundColor: 'red',
                borderColor: 'red',
                borderWidth: 1
            }]
        };

        var chartOptions = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: chartOptions
        });
    </script>
{% endblock %}