{% extends 'base.html' %}

{% load static %}

{% block title %}
    Driver Standings Chart
{% endblock %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'stats/chart.css' %}">
{% endblock %}

{% block content %}
<section class="chart-table">
    <h1>Driver Standings 2023 after {{ race_no }} races</h1>
    <a href="../driver_standings" class="chart-button">Change to Table View</a>
</section>
    <div class="content">
          <canvas id="driverStandingsChart" ></canvas>
    </div>
{% endblock %}

{% block scripts %}
    <script class="chart" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('driverStandingsChart').getContext('2d');
        var driverIds = {{ driver_ids|safe }};
        var points = {{ points|safe }};

        var chartData = {
            labels: driverIds,
            datasets: [{
                label: 'Points',
                data: points,
                backgroundColor: 'red',
                borderColor: 'red',
                borderWidth: 1
            }]
        };

        var chartOptions = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: chartOptions
        });
    </script>
{% endblock %}
