{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ event.title }}
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'events/event-details.css' %}" />
{% endblock %}


{% block content %}
{% if event_found %}
<h1 id="main-header">{{ event.title }}</h1>
<article>
    <img id="main-image" src="{{ event.image.url }}" alt="{{ event.title }}">
    <section id="location">
        <h2>Event Location</h2>
        <address>This races takes place in <span>{{ event.circuit.name }}</span> ({{ event.circuit.location }})</address>
        <date>on {{ event.date }}</date>
    </section>
    <section id="details">
        <h2>About Race</h2>
        <p>{{ event.description }}</p>
        <h3>Join this team for this event! They are waiting with us:</h3>
        <p>{% for user in event.user.all %}
                @{{ user }},
            {% endfor %}</p>

        <h3>
            <p>Need more details? Please <a href="mailto:{{ event.organizer_email }}">contact the organizer</a> (but don't spam us)</p>
        </h3>
    </section>

    <section id="registration">
        <h2>Join team!</h2>
        <p>You must be logged-in to register! </p>
        <p>Enter your email belowEnter your email below</p>
        <form action="{% url 'event-detail' event.slug %}" method="POST">
            {% csrf_token %}
            <ul>
            {{ form.as_ul }}
            </ul>
            <div id="registration-actions">
                <button type="submit" id="baton">SignUp for Event</button>
            </div>
        </form>
    </section>
</article><br>

<article></article>

{% else %}
<p>No event found for this slug, sorry!</p>
{% endif %}

{% endblock %}