{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css_files %} {% endblock %}
</head>
<body>
    <header class="page-header">
        <nav class="nav-bar">
            <a href="{% url 'homepage' %}"><img class="logo" src="{% static 'images/F1nal.png' %}"></a>
            <ul class="menu">
                <a href="{% url 'homepage' %}"><li>HOME</li></a>
                <a href="{% url 'about' %}"><li>ABOUT</li></a>
                <a href="{% url 'stats' %}"><li>STATS</li></a>
                <a href="{% url 'quiz_list' %}"><li>QUIZ</li></a>
                <a href="{% url 'events' %}"><li>EVENTS</li></a>
                <a href="{% url 'blog_main_page' %}"><li>BLOG</li></a>
            </ul>
            <ul id="top-right-links">
                {% if user.is_authenticated %}
                <a href="{% url 'member_dashboard' %}"><li style="color: red;">DASHBOARD</li></a>
                <a href="{% url 'login' %}"><li style="color: red;">LOGOUT</li></a>
                {% else %}
                <a href="{% url 'login' %}"><li style="color: red;">LOGIN</li></a>
                <a href="{% url 'sign_up' %}"><li style="color: red;">REGISTER</li></a>
                {% endif %}
            </ul>
        </nav>
    </header>
  {% block content %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
<div class="section-footer">
    <a href="{% url 'homepage' %}">HOME</a>
    <a href="{% url 'about' %}">ABOUT</a>
    <a href="{% url 'stats' %}">STATS</a>
    <a href="{% url 'quiz_list' %}">QUIZ</a>
    <a href="{% url 'events' %}">EVENTS</a>
    <a href="{% url 'blog_main_page' %}">BLOG</a>
</div>
</body>
</html>