{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% block css_files %} {% endblock %}
</head>
<body>
<header class="page-header">
    <nav class="nav-bar">
        <img class="logo" src="{% static 'blog/images/F1.png' %}">
        <ul id="top-right-links">
            <a href="#"><li style="color: red;">LOGIN</li></a>
            <a href="#"><li style="color: red;">REGISTER</li></a>
        </ul>
        <ul>
            <a href="{% url 'homepage' %}"><li>HOME</li></a>
            <a href="{% url 'about' %}"><li>ABOUT</li></a>
            <a href="#"><li>STATS</li></a>
            <a href="{% url 'quiz_list' %}"><li>QUIZ</li></a>
            <a href="{% url 'events' %}"><li>EVENTS</li></a>
            <a href="{% url 'blog_main_page' %}"><li>BLOG</li></a>
        </ul>
    </nav>
</header>
  {% block content %}
  {% endblock %}
<div class="section-footer">
            <a href="{% url 'homepage' %}">HOME</a>
            <a href="{% url 'about' %}">ABOUT</a>
            <a href="#">STATS</a>
            <a href="{% url 'quiz_list' %}">QUIZ</a>
            <a href="{% url 'events' %}">EVENTS</a>
            <a href="{% url 'blog_main_page' %}">BLOG</a>
</div>
</body>
</html>