{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block css_files %} {% endblock %}
</head>
<body>
<header class="page-header">
    <nav class="nav-bar">
        <img class="logo" src="{% static 'blog/images/F1.png' %}">
        <ul id="top-right-links">
            <a href="#"><li style="color: red;">LOGIN</li></a>
            <a href="#"><li style="color: red;">REGISTER</li></a>
        </ul>
        <ul>
            <a href=""><li>HOME</li></a>
            <a href=""><li>ABOUT</li></a>
            <a href=""><li>STATS</li></a>
            <a href=""><li>QUIZ</li></a>
            <a href=""><li>EVENTS</li></a>
            <a href=""><li>BLOG</li></a>
        </ul>
    </nav>
</header>
  {% block content %}
  {% endblock %}
<div class="section-footer">
            <a href="#">ABOUT</a>
            <a href="#">SHARE</a>
            <a href="#">CONTACT</a>
</div>
</body>
</html>