{% extends 'base.html' %}
{% load static %}

{% block title %}
THE F1NAL PROJECT
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
{% endblock %}

{% block content %}
<div id="about-project">
    <img class="image" src="{% static 'images/about-project.png' %}" alt="image">
    <div id="content">
        <h1 style="text-align: center">ABOUT PROJECT</h1>
        <p style="color: white">We would like to present you a Formula One website created in Django framework. This a final project made during the Python bootcamp at Software Development Academy (SDA).
                You can find here multiple apps like F1 Statistics, Quiz, Events, Blogs and About Us page.
                You can also check what are the current weather conditions on the next circuit location.</p>
    </div>
</div>

<div id="our-team">
    <h2>OUR TEAM</h2>
</div>

<div class="about-us">
    <img id="image" src="{% static 'images/darekn.png' %}" alt="darek">
    <div id="content">
        <h2>Darek Nowosielski</h2>
        <h3>PYTHON DEVELOPER</h3>
        <p>Darek is the coordinator of the Stats app. His interests include data science and finance. During his free time he enjoys cycling, skiing and mountain-hiking.</p>
        <span class="material-symbols-outlined">
            <a href="d.nowosielski1993@gmail.com" target="_blank">mail</a>
            <a href="https://github.com/Dar1us7" target="_blank">device_hub</a>
            <a href="https://www.linkedin.com/in/dariusz-nowosielski-5b82b5142"><i class="fa fa-linkedin-square" style="font-size: 34px"></i></a>
        </span>
    </div>
</div>

<div class="about-us">
    <img id="image" src="{% static 'images/aniaw2.png' %}" alt="ania">
    <div id="content">
        <h2>Ania Walaszek</h2>
        <h3>PYTHON DEVELOPER</h3>
        <p>Ania coordinates the backend side of the project, including GIT, functionalities, authorizations, authentications, and dependencies between entities. She has coordinated modules for members and modules blog, event, and homepage. She has created the frontend for the members application and contributed to fragments for the blog and homepage. Besides programming, she engages in architectural projects and creates photorealistic visualizations. In her free time, she enjoys running, traveling, and enhancing her programming skills. In the future, she aspires to continue being an architect, but in the field of IT systems.</p>
        <span class="material-symbols-outlined">
            <a href="a.e.walaszek@gmail.com" target="_blank">mail</a>
            <a href="https://github.com/annevvv" target="_blank">device_hub</a>
            <a href="https://www.linkedin.com/in/annawalaszek/"><i class="fa fa-linkedin-square" style="font-size: 34px"></i></a>
        </span>
    </div>
</div>

<div class="about-us">
    <img id="image" src="{% static 'images/maciekw.png' %}" alt="Image 3">
    <div id="content">
        <h2>Maciek Wesołowski</h2>
        <h3>PYTHON DEVELOPER</h3>
        <p>He coordinates frontend side of the project. He also coordinates Quiz and Events apps. He is interested in project management, apps and websites user experience. In his free time he enjoys travelling and visiting sport arenas around the world.</p>
        <span class="material-symbols-outlined">
            <a href="maciej.wesolowski@gmail.com" target="_blank">mail</a>
            <a href="https://github.com/macwesolowski" target="_blank">device_hub</a>
            <a href="https://linkedin.com/in/maciejwesolowski/"><i class="fa fa-linkedin-square" style="font-size: 34px"></i></a>
        </span>
    </div>
</div>

<div id="sum-up">
    <h3>We hope you will enjoy our project. If you would like to cooperate with us, do not hesitate to contact us.</h3>
</div>

{% endblock %}



