{% extends 'base.html' %}
{% load static %}

{% block title %}
THE F1NAL PROJECT
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'homepage.css' %}" />
{% endblock %}
{% block content %}
<section class="background-section">
    <div class="container">
        <div class="float-container">
            <img class="page-logo" src="{% static 'images/about-p.png' %}" alt="image">
            <h1 style="text-align: center">ABOUT PROJECT</h1>
            <p style="color: white">We would like to present you a Formula One website created in Django framework.
                You can find here multiple apps like F1 Statistics, Quiz, Events, Blogs and About Us page.
                You can also check what are the current weather conditions on the next circuit location.
                Learn more about our team <a href="about" style="text-decoration:none; color: red">here.</a>
            </p>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="box-container">
            <div class="box">
                <img class="page-logo" src="{% static 'images/stats.png' %}" alt="box image">
                <h2 align="center">F1 STATS</h2>
                <p>We provide the current, up-to-date statistics from 2023 Formula 1 season.
                    There you have Drivers' Standings, Constructors' Standings and results from all races. Is your favorite driver at the top?</p>
                <div class="box-footer">
                    <a class="box-button" href="{% url 'stats' %}">SEE WHO'S WINNING</a>
                </div>
            </div>

            <div class="box">
                <img class="page-logo" src="{% static 'images/games.png' %}" alt="box image">
                <h2 align="center">QUIZ</h2>
                <p>Do you consider yourself a Formula One expert? How much do you know about the Queen of Motorsports?
                    You can accept our challenge and take the multi-choice questions Quiz we prepared for you.</p>
                <div class="box-footer">
                    <a class="box-button" href="{% url 'quiz_list' %}">LET'S PLAY!</a>
                </div>
            </div>

            <div class="box">
                <img class="page-logo" src="{% static 'images/predict.png' %}" alt="box image">
                <h2 align="center">EVENTS</h2>
                <p>Do you like watching Formula One races, but don't know when and where the events take place?
                    Don't worry! Sign up to our Events app and you will always know when to turn on the TV!</p>
                <div class="box-footer">
                    <a class="box-button" href="{% url 'events' %}">SIGN UP NOW!</a>
                </div>
            </div>

            <div class="box">
                <img class="page-logo" src="{% static 'images/news.png' %}" alt="box image">
                <h2 align="center">BLOG</h2>
                <p>Here you can read about the latest revelations from Formula 1 and get to know the technology
                    behind the F1 cars. What is more, you can write a post yourself and become famous in the F1 community!</p>
                <div class="box-footer">
                    <a class="box-button" href="{% url 'blog_main_page' %}">LATEST NEWS FROM PADDOCK</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-sectionaw">
    <div class="containeraw">
        <h2>TIME UNTIL NEXT RACE</h2>
        <p>Local time for next race: {{ RACE_DATA }}</p>
        <p>Your local time: {{ CURRENT_USER_TIME }}</p>
        <p>Time to start: </p> <h2> {{ TIME_DELTA }}<h2>
    </div>
</section>

<section class="weathersection">
    <meta http-equiv="refresh" content="60">
  <div class="weatherdiv">
    <h2 style="weatherh2">WEATHER CONDITIONS IN THE NEXT DESTINATION:</h2>
    <div class="weatheraw1">
      <div>
        <h3>Next race in {{ city }}, {{ country }}</h3>
          <p> {{ description }}</p>
      </div>
      <div>
        <img
          src="https://api.openweathermap.org/img/w/{{icon}}.png"
          width="30"/>
        <p>Local time in {{ city }}: {{ TIME_IN_RACE_CITY_NOW }}</p>
      </div>
    </div>
    <div class="weatherdiv2">
      <p>Temperature {{ temp }}°C</p>
      <p>Min Temp {{ temp_min }}°C</p>
      <p>Max Temp {{ temp_max }}°C</p>
      <p>Pressure {{ pressure }}hPa</p>
      <p>Humidity {{ humidity }}%</p>
      <p>Wind {{ wind }}m/s</p>
    </div>
  </div>
</section>
{% endblock %}
