body {
  background-color: #e7e7e7;
}

#all-posts {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 2rem auto;
  max-width: 1080px;
}

#all-posts h2 {
  text-align: center;
  font-size: 2rem;
  color: #2e2e2e;
  margin: 3rem 0;
}

#all-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post img {
  width: 7rem;
  height: 7rem;
  align-content: center;
}

.post a {
  height: 22rem;
  transform-origin: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: white;
  padding: 20px;
}