.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center the content horizontally */
  text-align: center;
  height: auto;
  margin-bottom: 1rem;
  padding: 1rem;
}

.post a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}

.post a:hover,
.post a:active {
  transform: scale(1.1);
  background-color: red;
  color: white;
}

.post img {
  vertical-align: middle;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 2rem;
}

.post h3 {
  margin: 0.25rem 0;
}

.post p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.post time {
  color: #666666;
  margin: 0.25rem;
  font-style: italic;
  font-size: 0.85rem;
}

@media screen and (min-width: 780px) {
  .post {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .post p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1280px) {
  .post {
    flex-wrap: nowrap;
  }
}