body {
  background-color: #e7e7e7;
}

#summary {
  display: flex;
  flex-direction: column;
  margin: 4rem auto 3rem auto;
  padding: 1rem;
  width: 75%;
  max-width: 70rem;
  border-radius: 16px;
  background-color: rgb(255, 0, 0, 0.75);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 30rem;
}

#summary h2 {
  color: white;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

#summary article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem 2rem;
  border-radius: 12px;
  text-align: right;
  color: white;
}

#summary article img {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 13rem;
  border-radius: 12px;
  border: 5px solid white;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

#summary address {
  font-weight: bold;
}

#summary a {
color: white;
text-decoration: none;
}

#summary time {
  font-weight: bold;
}

main {
  width: 75%;
  max-width: 70rem;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.tag {
background-color: white;
color: #390281;
padding: 0.5rem 1rem;
border-radius: 8px;
}

#comment-form {
margin: 3rem auto;
width: 90%;
max-width: 40rem;
border-radius: 12px;
background-color: white;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
padding: 1rem;
margin-bottom: 100px;
}

#comment-form button {
font: inherit;
background-color: red;
color: white;
border: 1px solid red;
padding: 0.5rem 1.5rem;
border-radius: 6px;
cursor: pointer;
}

#comment-form button:hover,
#comment-form button:active {
background-color: rgb(255, 0, 0, 0.75);
border-color: rgb(255, 0, 0, 0.75)
}

.form-control {
margin-bottom: 1rem;
}

.form-control label {
font-weight: bold;
margin-bottom: 0.5rem;
display: block;
}

.form-control input,
.form-control textarea {
display: block;
width: 100%;
font: inherit;
padding: 0.25rem;
border-radius: 6px;
border: 1px solid #ccc;
}

.errorlist {
list-style: none;
margin: 0.5rem 0;
padding: 0;
color: #d6000b;
}

.invalid label {
color: #d6000b;
}

.invalid input,
.invalid textarea {
border-color: #6d000b;
background-color: #ffe6e7;
}

#alert {
margin: 8rem auto 3rem auto;
border: 1px solid #6d000b;
background-color: #ffe6e7;
padding: 1rem;
width: 90%;
max-width: 40rem;
}

#alert a {
text-decoration: none;
border: 1px solid #6d000b;
background-color: #6d000b;
color: white;
padding: 0.25rem 1.5rem;
border-radius: 6px;
}

#comments {
margin: 3rem auto;
width: 90%;
max-width: 60rem;
border-radius: 12px;
background-color: white;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
padding: 1rem 2rem;
}

#comments ul {
list-style: none;
margin: 0;
padding: 0;
}

#comments li {
margin-bottom: 1rem;
border-bottom: 2px solid #ccc;
}

#comments li:last-of-type {
border-bottom: none;
}

#comments h2 {
color: #464646;
}

@media (max-width: 768px) {
  #summary {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }

  #summary article {
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  #summary article img {
    width: 6rem;
    height: 6rem;
    margin: 1.5rem 0;
  }

  #summary address {
    text-align: center;
  }
}

@media (max-width: 1280px) {
  #summary {
    height: auto;
    padding: 2rem;
  }
   #summary article img {
    width: 10rem;
    height: 10rem;
    margin: 1.5rem 0;
  }
}



