<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
          crossorigin="anonymous">
    <title>{% block title %}Tytuł strony{% endblock %}</title>
</head>

<body>
    <nav class="'container" >
        Navbary Maćka + moje do logowania
        <div>
            <ul class="navbar-nav">

                
                <li class="nav-item">
                    <a class="navlink" href="{% url 'homepage' %}"></a>
                </li>
                
                {% comment %} <li class="nav-item">
                    <a class="navlink" href="{% url 'members' %}">MEMBERS</a>
                </li> {% endcomment %}
                

                <li class="nav-item">
                    <a class="navlink" href="{% url 'sign_up' %}">SIGN UP</a>
                </li>
                <p>Po zalogowaniu zamist login to logout</p>

                {% comment %} {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="navlink" href="{% url 'logout' %}"></a>
                    </li>    
                {% else %}
                    <li class="nav-item">
                        <a class="navlink" href="{% url 'sign_up' %}"></a>
                    </li> 
                {% endif %} {% endcomment %}

            

                </li>
            </ul>
        </div> 

    </nav>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    crossorigin="anonymous"></script>    
</body>
</html>