{% extends 'base.html' %}

{% load static %}

{% block title %}Members{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'members.css' %}" />
{% endblock %}

{% block content %}

<article class="container">
<h1>Do you want to be member of our society?</h1>
    <section class="welcome-container" >
        <div>
            <a href="{% url 'sign_up' %}" class="signup-link">create acoount</a>
            <p></p>
            <a href="{% url 'login' %}" class="signup-link">login</a>
        </div>
    </section>
</article>

{% endblock %}


{% block footer %} {% endblock %}

