.chart-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chart-table h1 {
text-align: center;
}

.chart-table a {
text-decoration: none;
color: black;
}

.chart-table a:hover {
text-decoration: none;
color: red;
cursor: pointer;
}


table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 45%;
  margin-left: 120px;
  margin-bottom: 80px;
}
