body {
  background-color: rgb(150, 150, 150, 0.5);
}

.chart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-color: red;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  width: 20rem;
  margin: 20px;
}

.chart-button:hover {
  background-color: rgb(155, 0, 0, 0.7);
  border-color: rgb(155, 0, 0, 0.7);
}

.drivers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.drivers h1 {
  color: red;
  text-align: center;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  margin-bottom: 40px;
}

#standings {
    width: 110px;
    margin: 20px;
    padding: 8px;
}

#points {
    width: 100px;
    margin: 20px;
    padding: 8px;
}

#wins {
    width: 90px;
    margin: 20px;
    padding: 9px;
}

#driver {
    width: 170px;
    margin: 20px;
    padding: 8px;
}

#constructor {
    width: 140px;
    margin: 20px;
    padding: 8px;
}

th, td {
  border: 3px solid white;
  color: red;
  text-align: center;
}

.drivers p {
  text-align: center;
  color: white;
}